In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import warnings
warnings.filterwarnings('ignore')
from sklearn.naive_bayes import MultinomialNB
from sklearn.multiclass import OneVsRestClassifier
from sklearn import metrics
from sklearn.metrics import accuracy_score
from pandas.plotting import scatter_matrix
from sklearn.neighbors import KNeighborsClassifier
from sklearn import metrics

import nltk
from nltk.corpus import stopwords
from nltk.tokenize import word_tokenize
import json

## Data Pre-processing - Load Data, Clean Data

### Read Resume Dataset

In [2]:
df_resume = pd.read_csv('./dataset/resume_dataset.csv' ,encoding='utf-8')
df_resume.head(3)

       Category                                             Resume
0  Data Science  Skills * Programming Languages: Python (pandas...
1  Data Science  Education Details \r\nMay 2013 to May 2017 B.E...
2  Data Science  Areas of Interest Deep Learning, Control Syste...

### Rename Column Names

In [3]:
df_resume = df_resume.rename(columns={'Category': 'category', 'Resume': 'resume'})
df_resume.head(3)

       category                                             resume
0  Data Science  Skills * Programming Languages: Python (pandas...
1  Data Science  Education Details \r\nMay 2013 to May 2017 B.E...
2  Data Science  Areas of Interest Deep Learning, Control Syste...

### Functions to Clean resume and job description - 2 steps (2 functions)

In [4]:
import re

# clean step 1
def cleanResume(resumeText):
    # Step 1
    resumeText = re.sub('http\S+\s*', ' ', resumeText)  # remove URLs
    resumeText = re.sub('RT|cc', ' ', resumeText)  # remove RT and cc
    resumeText = re.sub('#\S+', '', resumeText)  # remove hashtags
    resumeText = re.sub('@\S+', '  ', resumeText)  # remove mentions
    resumeText = re.sub('[%s]' % re.escape("""!"#$%&'()*+,-./:;<=>?@[\]^_`{|}~"""), ' ', resumeText)  # remove punctuations
    resumeText = re.sub(r'[^\x00-\x7f]',r' ', resumeText) 
    resumeText = re.sub('\s+', ' ', resumeText)  # remove extra whitespace

    # Step 2
    resumeText = re.sub('[^A-Za-z]', ' ', resumeText)
    resumeText = " ".join(resumeText.split()).lower() #remove extra and trailing space + map to lower case


    # Step 3 - Clean Stopwords - Using NLTK Lib
    stop_words = set(stopwords.words('english'))
    word_tokens = word_tokenize(resumeText)
    filtered_sentence = [w for w in word_tokens if not w.lower() in stop_words]
    #with no lower case conversion
    filtered_sentence = []
    for w in word_tokens:
        if w not in stop_words:
            filtered_sentence.append(w)

    final_resumeText = ' '.join(filtered_sentence)
    
    return final_resumeText

### Apply Clean Function on Dataset

In [5]:
# clean step 1
df_resume['final_cleaned_resume'] = df_resume.resume.apply(lambda x: cleanResume(x))

# # clean step 2
# df_resume = df_resume.assign(final_cleaned_resume = df_resume.step1_cleaned_resume.apply(clean_sentence))
df_resume.head(5)

,category,resume,final_cleaned_resume
0,Data Science,Skills * Programming Languages: Python (pandas...,skills programming languages python pandas num...
1,Data Science,Education Details \r\nMay 2013 to May 2017 B.E...,education details may may b e uit rgpv data sc...
2,Data Science,"Areas of Interest Deep Learning, Control Syste...",areas interest deep learning control system de...
3,Data Science,Skills â¢ R â¢ Python â¢ SAP HANA â¢ Table...,skills r python sap hana tableau sap hana sql ...
4,Data Science,"Education Details \r\n MCA YMCAUST, Faridab...",education details mca ymcaust faridabad haryan...

In [6]:
# df_resume['final_cleaned_resume'][0]

## Using SBERT.net - Link: https://www.sbert.net/

### Install SBERT

In [7]:
# pip install -U sentence-transformers

In [8]:
from sentence_transformers import SentenceTransformer
from sklearn.metrics.pairwise import cosine_similarity

model = SentenceTransformer('all-MiniLM-L6-v2')

sentence_1 = ['This is a sentence.']
sentence_2 = ['This is a sentence!']

#Sentences are encoded by calling model.encode()
embedding_1 = model.encode(sentence_1)
embedding_2 = model.encode(sentence_2)

# print(embedding_1)
# print(embedding_2)

cosine_similarity(embedding_1, embedding_2)

array([[0.8843454]], dtype=float32)

### Read Job Description Dataset

In [9]:
df_jd = pd.read_excel('./dataset/job_description.xlsx')

df_jd_it_job_only = df_jd[df_jd['Job_Category'] == 'IT'] # dataframe job related to IT

### Rename Column Names

In [10]:
df_jd = df_jd[['Position', 'Job_Description']]
df_jd = df_jd.rename(columns={'Position': 'position', 'Job_Description': 'job_description'})
df_jd.head(3)

,position,job_description
0,Poster Designer,Japnese language understanding. Video editing ...
1,BOA-Registered Architect/ Senior Architect,2 positions for cambodia boa registered archit...
2,Interior Architect/ Intermediate Interior Desi...,The company is seeking an experienced INTERIOR...

### Clean Job Description Dataset

In [11]:
# clean job description
df_jd['final_cleaned_jd'] = df_jd.job_description.apply(lambda x: cleanResume(x))
df_jd.head(3)

,position,job_description,final_cleaned_jd
0,Poster Designer,Japnese language understanding. Video editing ...,japnese language understanding video editing a...
1,BOA-Registered Architect/ Senior Architect,2 positions for cambodia boa registered archit...,positions cambodia boa registered architect se...
2,Interior Architect/ Intermediate Interior Desi...,The company is seeking an experienced INTERIOR...,company seeking experienced interior architect...

In [12]:
df_jd = df_jd.head(1000)

### 1 Test Case - Compare 1 Resume and 1 Job Description

In [13]:
resume_description = df_resume.head(1)['final_cleaned_resume']
sentence_1 = [resume_description[0]]
print("Resume 1:", sentence_1)

job_description = df_jd.head(1)['final_cleaned_jd']
sentence_2 = [job_description[0]]
print("Job Description:", sentence_2)

embedding_1 = model.encode(sentence_1)
embedding_2 = model.encode(sentence_2)

Resume 1: ['skills programming languages python pandas numpy scipy scikit learn matplotlib sql java javascript jquery machine learning regression svm na bayes knn random forest decision trees boosting techniques cluster analysis word embedding sentiment analysis natural language processing dimensionality reduction topic modelling lda nmf pca neural nets database visualizations mysql sqlserver cassandra hbase elasticsearch js dc js plotly kibana matplotlib ggplot tableau others regular expression html css angular logstash kafka python flask git docker computer vision open cv understanding deep learning education details data science assurance associate data science assurance associate ernst young llp skill details javascript exprience months jquery exprience months python exprience monthscompany details company ernst young llp description fraud investigations dispute services assurance technology assisted review tar technology assisted review assists elerating review process run analytics generate reports core member team helped developing automated review platform tool scratch assisting e discovery domain tool implements predictive coding topic modelling automating reviews resulting reduced labor costs time spent lawyers review understand end end flow solution research development classification models predictive analysis mining information present text data worked analyzing outputs precision monitoring entire tool tar assists predictive coding topic modelling evidence following ey standards developed classifier models order identify red flags fraud related issues tools technologies python scikit learn tfidf word vec doc vec cosine similarity na bayes lda nmf topic modelling vader text blob sentiment analysis matplot lib tableau dashboard reporting multiple data science analytic projects usa clients text analytics motor vehicle customer review data received customer feedback survey data past one year performed sentiment positive negative neutral time series analysis customer comments across categories created heat map terms survey category based frequency words extracted positive negative words across survey categories plotted word cloud created customized tableau dashboards effective reporting visualizations chatbot developed user friendly chatbot one products handle simple questions hours operation reservation options chat bot serves entire product related questions giving overview tool via qa platform also give recommendation responses user question build chain relevant answer intelligence build pipeline questions per user requirement asks relevant recommended questions tools technologies python natural language processing nltk spacy topic modelling sentiment analysis word embedding scikit learn javascript jquery sqlserver information governance organizations make informed decisions information store integrated information governance portfolio synthesizes intelligence across unstructured data sources facilitates action ensure organizations best positioned counter information risk scan data multiple sources formats parse different file formats extract meta data information push results indexing elastic search created customized interactive dashboards using kibana preforming rot analysis data give information data helps identify content either redundant outdated trivial preforming full text search analysis elastic search predefined methods tag pii personally identifiable information social security numbers addresses names etc frequently targeted cyber attacks tools technologies python flask elastic search kibana fraud analytic platform fraud analytics investigative platform review red flag cases fap fraud analytics investigative platform inbuilt case manager suite analytics various erp systems used clients interrogate ounting systems identifying anomalies indicators fraud running advanced analytics tools technologies html javascript sqlserver jquery css bootstrap node js js dc js']
Job Description: ['japnese language understanding video editing adobe photoshop illustrator japanese language']

In [14]:
similarity_rate = cosine_similarity(embedding_1, embedding_2)
print("==============================================================+")
print("Resume-JobDescription Similarity (CosineSimilarity):", similarity_rate[0][0])
print("==============================================================+")

==============================================================+
Resume-JobDescription Similarity (CosineSimilarity): 0.10676937
==============================================================+

### 2 Test Case - Compare 5 Resume to 1 Job Description - Random

In [15]:
resume_5 = df_resume.sample(n=5)
resume_5

,category,resume,final_cleaned_resume
337,Java Developer,Education Details \r\nJanuary 2013 Master of E...,education details january master engineering i...
336,Java Developer,TECHNICAL STRENGTHS Computer Language Java/J2E...,technical strengths computer language java j e...
311,Civil Engineer,COMPUTER KNOWLEDGE â¢ Drafting tools: AutoCAD...,computer knowledge drafting tools autocad pack...
57,HR,Education Details \r\n MBA ACN College of en...,education details mba acn college engineering ...
898,Testing,Skill Set OS Windows XP/7/8/8.1/10 Database MY...,skill set os windows xp database mysql sql ser...

In [16]:
# job_description = df_jd.head(1)['final_cleaned_jd']
job_description = df_jd.sample(n=1)
job_description

jd = ''
for index, row in job_description.iterrows():
    jd = row['final_cleaned_jd']

In [17]:
ranking_dict = {}

for index, row in resume_5.iterrows():
    print("Resume           :", row['final_cleaned_resume'])
    print("Job Description  :", jd)
    resume = row['final_cleaned_resume']
    
    embedding_1 = model.encode([resume])
    embedding_2 = model.encode([jd])

    similarity_rate = cosine_similarity(embedding_1, embedding_2)
    print("Similarity Rate  :", format(similarity_rate[0][0]*100, '.2f')+'%')
    print()
    ranking_dict[index] = float(format(similarity_rate[0][0]*100, '.2f'))

print(ranking_dict)

Resume           : education details january master engineering information technology pune maharashtra january bachelor engineering information technology pusad maharashtra amravati university january pusad maharashtra p n junior college january c pusad maharashtra k high school java developer java developer maxgen technologies skill details company details company maxgen technologies description currently working infrasoft technologies andheri java developer company mis generation tata sky tata power description courses done android mobile app development technologies java core java advance java jsf hibernate spring niit android project location detector computing mobile devices android project data deduplication projects works reduce redundant data system free memory stores unique copy data location data help pointers ess data java subjects taught c language core java object oriented programming oot c database pps programming problem solving ad advance database ias information assurance security android programming skill c c java android database handled ms ess sql oracle national conference paper presented secure cipher index encrypted character data database dated april pimpri chinchwad college engineering pune
Job Description  : hiring training motivating ounting staff members supervising delegating department tasks evaluating developing improving department controls systems procedures increase uracy efficiency overseeing daily activities ounting department ensuring major projects month end year end reports completed urately time ensuring ounting processes align gaap current financial legislation analyzing financial data creating reports management stakeholders external parties vendors lenders maintaining urate complete financial records participating audits reconciliations needed assisting departments develop strategies establish objectives make decisions could financial impact business keeping informed latest developments finance industry
Similarity Rate  : 31.81%

Resume           : technical strengths computer language java j ee swift html shell script mysql databases mysql tools svn jenkins hudson weblogic c software android studio eclipse oracle xcode operating systems win mac high sierra education details june b e information technology goregaon maharashtra vidyalankar institute technology may mumbai maharashtra thakur polytechnic may mumbai maharashtra st john universal school java developer java developer tech mahindra skill details java exprience months mysql exprience months databases exprience months j ee exprience months android exprience monthscompany details company tech mahindra description team size environment java mysql shell script webserver jenkins description formatter application takes input file geneva modified file gmf geneva server reads data generate bill backup bill invoices client customers bt invoices would sent across clients billing contribution played role java developer involved applying change request current modules worked requirement analysis development user stories also preformed dev unit testing user stories handled e e issues fixing bugs prepare required program level user level documentation company tech mahindra description team size environment java ejb mysql shell script webserver weblogic c server jenkins description staa encapsulation middleware layer acting interface client operational support systems legacy systems transforms legacy data various formats tlv input form xml http staa validations done response sent back end systems back end systems css cosmoss databases business methods deployed ejbs weblogic server shared across various market facing units client contribution played role java developer involved creating services using java j ee worked requirement analysis development user stories also preformed dev unit testing user stories handled e e issues fixing bugs worked migration java java
Job Description  : hiring training motivating ounting staff members supervising delegating department tasks evaluating developing improving department controls systems procedures increase uracy efficiency overseeing daily activities ounting department ensuring major projects month end year end reports completed urately time ensuring ounting processes align gaap current financial legislation analyzing financial data creating reports management stakeholders external parties vendors lenders maintaining urate complete financial records participating audits reconciliations needed assisting departments develop strategies establish objectives make decisions could financial impact business keeping informed latest developments finance industry
Similarity Rate  : 35.05%

Resume           : computer knowledge drafting tools autocad packages ms office applications operating systems windows x xp vista detailexperiences experience india working experience alia construction nallasopara west mumbai since june may civil engineer years project handle project title yashwant orichids position site engineer location nallasopara w mumbai maharashtra indiaeducation details c rajasthan board excellence polytechnic college civil engineer civil engineer site encharge skill details autocad exprience months civil engineer exprience months drafting exprience months engineer exprience months ms office exprience monthscompany details company site encharge description location andheri e marol bus depot near maruti high school midc mumbai maharashtra india experience uae currently working nova engineering works since may till date civil engineer location flat b al maha building university city road muweilah commercial near alfalah round sharjah job responsibilities achieving construction activities like excavation foundation pcc waterproofing rcc shuttering steel fixing casting concrete masonry brick works plastering tile fixing etc completion independently following design engineers architecture structural updated drawing minor changes per site requirement needed inspection casting columns slabs etc looking construction activities making requisition facilitating arrangement procurement construction materials executions civil interior exterior ground finish works site supervision job responsibilities scheduling work preparing verification sub contractors suppliers bills working quantities verify quantities client engineer computer skills drafting tools autocad packages ms office applications operating systems windows x xp vista personal strength excellent communication skills hardworking sincerity honesty individual team working capability knowledge minutes manpower material machine management manage development program strategies thank viewing resume company kherwadi police station description mumbai maharashtra india working experience om construction since january april civil engineer years project handle project title radha position senior engineer location dadar e hindu colony road mumbai maharashtra project title lodha eternis company expe construction description project handle project title estado
Job Description  : hiring training motivating ounting staff members supervising delegating department tasks evaluating developing improving department controls systems procedures increase uracy efficiency overseeing daily activities ounting department ensuring major projects month end year end reports completed urately time ensuring ounting processes align gaap current financial legislation analyzing financial data creating reports management stakeholders external parties vendors lenders maintaining urate complete financial records participating audits reconciliations needed assisting departments develop strategies establish objectives make decisions could financial impact business keeping informed latest developments finance industry
Similarity Rate  : 38.46%

Resume           : education details mba acn college engineering mgt hr skill details company details company hr assistant description
Job Description  : hiring training motivating ounting staff members supervising delegating department tasks evaluating developing improving department controls systems procedures increase uracy efficiency overseeing daily activities ounting department ensuring major projects month end year end reports completed urately time ensuring ounting processes align gaap current financial legislation analyzing financial data creating reports management stakeholders external parties vendors lenders maintaining urate complete financial records participating audits reconciliations needed assisting departments develop strategies establish objectives make decisions could financial impact business keeping informed latest developments finance industry
Similarity Rate  : 44.06%

Resume           : skill set os windows xp database mysql sql server languages core java web technology html css testing manual testing database testing bug tracking reporting end user handling education details january mcs pune maharashtra p v p college pravaranagar january hsc k junior college january ssc k mahavidyalya jr testing engineer jr testing engineer tech innovations ltd skill details testing exprience months windows xp exprience months css exprience months database exprience months database testing exprience monthscompany details company tech innovations ltd description responsibilities analyzing testing requirements preparing test plans test scenarios preparing test cases executing test cases tracking bugs coordinating developers order fix preparing test summary reports reporting quality manager attending meeting projects project name web based time attendance application environment windows vista windows xp windows windows clients mccia sapphire park bramha suncity wanless hospital role software testing duration months project name android time attendance application vehicle tracking system vistor management system environment android mobile android tablet clients vankan security role application testing duration months project name web based factory automation process web based annual maintenance charges environment windows vista windows xp windows windows role software testing duration months project name web based library management system environment windows vista windows xp windows windows role software testing duration months
Job Description  : hiring training motivating ounting staff members supervising delegating department tasks evaluating developing improving department controls systems procedures increase uracy efficiency overseeing daily activities ounting department ensuring major projects month end year end reports completed urately time ensuring ounting processes align gaap current financial legislation analyzing financial data creating reports management stakeholders external parties vendors lenders maintaining urate complete financial records participating audits reconciliations needed assisting departments develop strategies establish objectives make decisions could financial impact business keeping informed latest developments finance industry
Similarity Rate  : 41.18%

{337: 31.81, 336: 35.05, 311: 38.46, 57: 44.06, 898: 41.18}

In [18]:
sorted_ranking_resume = dict(sorted(ranking_dict.items(), key=lambda item: item[1], reverse=True))
sorted_ranking_resume

{57: 44.06, 898: 41.18, 311: 38.46, 336: 35.05, 337: 31.81}

In [19]:
for key in sorted_ranking_resume:
    print('Index:', key, '-' , str(sorted_ranking_resume[key]) + '%')

Index: 57 - 44.06%
Index: 898 - 41.18%
Index: 311 - 38.46%
Index: 336 - 35.05%
Index: 337 - 31.81%

### 3 Test Case - Compare 5 Resume to 1 Job Description - Static

In [20]:
first_5_resume = df_resume.head(5)

first_jd = df_jd.head(1)
jd = first_jd['final_cleaned_jd'][0]

In [21]:
ranking_dict = {}

for index, row in first_5_resume.iterrows():
    print("Resume           :", row['final_cleaned_resume'])
    print("Job Description  :", first_jd['final_cleaned_jd'][0])
    resume = row['final_cleaned_resume']
    
    embedding_1 = model.encode([resume])
    embedding_2 = model.encode([jd])

    similarity_rate = cosine_similarity(embedding_1, embedding_2)
    print("Similarity Rate  :", format(similarity_rate[0][0]*100, '.2f')+'%')
    print()
    ranking_dict[index] = float(format(similarity_rate[0][0]*100, '.2f'))

print(ranking_dict)

Resume           : skills programming languages python pandas numpy scipy scikit learn matplotlib sql java javascript jquery machine learning regression svm na bayes knn random forest decision trees boosting techniques cluster analysis word embedding sentiment analysis natural language processing dimensionality reduction topic modelling lda nmf pca neural nets database visualizations mysql sqlserver cassandra hbase elasticsearch js dc js plotly kibana matplotlib ggplot tableau others regular expression html css angular logstash kafka python flask git docker computer vision open cv understanding deep learning education details data science assurance associate data science assurance associate ernst young llp skill details javascript exprience months jquery exprience months python exprience monthscompany details company ernst young llp description fraud investigations dispute services assurance technology assisted review tar technology assisted review assists elerating review process run analytics generate reports core member team helped developing automated review platform tool scratch assisting e discovery domain tool implements predictive coding topic modelling automating reviews resulting reduced labor costs time spent lawyers review understand end end flow solution research development classification models predictive analysis mining information present text data worked analyzing outputs precision monitoring entire tool tar assists predictive coding topic modelling evidence following ey standards developed classifier models order identify red flags fraud related issues tools technologies python scikit learn tfidf word vec doc vec cosine similarity na bayes lda nmf topic modelling vader text blob sentiment analysis matplot lib tableau dashboard reporting multiple data science analytic projects usa clients text analytics motor vehicle customer review data received customer feedback survey data past one year performed sentiment positive negative neutral time series analysis customer comments across categories created heat map terms survey category based frequency words extracted positive negative words across survey categories plotted word cloud created customized tableau dashboards effective reporting visualizations chatbot developed user friendly chatbot one products handle simple questions hours operation reservation options chat bot serves entire product related questions giving overview tool via qa platform also give recommendation responses user question build chain relevant answer intelligence build pipeline questions per user requirement asks relevant recommended questions tools technologies python natural language processing nltk spacy topic modelling sentiment analysis word embedding scikit learn javascript jquery sqlserver information governance organizations make informed decisions information store integrated information governance portfolio synthesizes intelligence across unstructured data sources facilitates action ensure organizations best positioned counter information risk scan data multiple sources formats parse different file formats extract meta data information push results indexing elastic search created customized interactive dashboards using kibana preforming rot analysis data give information data helps identify content either redundant outdated trivial preforming full text search analysis elastic search predefined methods tag pii personally identifiable information social security numbers addresses names etc frequently targeted cyber attacks tools technologies python flask elastic search kibana fraud analytic platform fraud analytics investigative platform review red flag cases fap fraud analytics investigative platform inbuilt case manager suite analytics various erp systems used clients interrogate ounting systems identifying anomalies indicators fraud running advanced analytics tools technologies html javascript sqlserver jquery css bootstrap node js js dc js
Job Description  : japnese language understanding video editing adobe photoshop illustrator japanese language
Similarity Rate  : 10.68%

Resume           : education details may may b e uit rgpv data scientist data scientist matelabs skill details python exprience less year months statsmodels exprience months aws exprience less year months machine learning exprience less year months sklearn exprience less year months scipy exprience less year months keras exprience less year monthscompany details company matelabs description ml platform business professionals dummies enthusiasts koramangala th block achievements tasks behind sukh sagar bengaluru india developed deployed auto preprocessing steps machine learning mainly missing value treatment outlier detection encoding scaling feature selection dimensionality reduction deployed automated classification regression model linkedin com aditya rathore b b reasearch deployed time series forecasting model arima sarimax holt winter prophet worked meta feature extracting problem github com rathorology implemented state art research paper outlier detection mixed attributes company matelabs description
Job Description  : japnese language understanding video editing adobe photoshop illustrator japanese language
Similarity Rate  : 3.94%

Resume           : areas interest deep learning control system design programming python electric machinery web development analytics technical activities q hindustan aeronautics limited bangalore weeks guidance mr satish senior engineer hangar mirage fighter aircraft technical skills programming matlab python java labview python webframework django flask ltspice intermediate languages mipower intermediate github gitbash jupyter notebook xampp mysql basics python software packages interpreters anaconda python python pycharm java ide eclipse operating systems windows ubuntu debian kali linux education details january b tech electrical electronics engineering manipal institute technology january deeksha center january little flower public school august manipal academy higher data science data science electrical enthusiast skill details data analysis exprience less year months excel exprience less year months machine learning exprience less year months mathematics exprience less year months python exprience less year months matlab exprience less year months electrical engineering exprience less year months sql exprience less year monthscompany details company themathcompany description currently working casino based operator name disclosed macau need segment customers visit property based value patrons bring company basically prove segmentation done much better way current system proper numbers back henceforth implement target marketing strategy attract customers add value business
Job Description  : japnese language understanding video editing adobe photoshop illustrator japanese language
Similarity Rate  : 6.13%

Resume           : skills r python sap hana tableau sap hana sql sap hana pal ms sql sap lumira c linear programming data modelling advance analytics scm analytics retail analytics social media analytics nlp education details january january pgdm business analytics great lakes institute management illinois institute technology january bachelor engineering electronics communication bengaluru karnataka new horizon college engineering bangalore visvesvaraya technological university data science consultant consultant deloitte usi skill details linear programming exprience months retail exprience months retail marketing exprience months scm exprience months sql exprience less year months deep learning exprience less year months machine learning exprience less year months python exprience less year months r exprience less year monthscompany details company deloitte usi description project involved analysing historic deals coming insights optimize future deals role given raw data carried end end analysis presented insights client key responsibilities extract data client systems across geographies understand build reports tableau infer meaningful insights optimize prices find process blockades technical environment r tableau industry cross industry service area cross industry products project name handwriting recognition consultant months project involved taking handwritten images converting digital text images object detection sentence creation role developing sentence correction functionality key responsibilities gather data large enough capture english words train lstm models words technical environment python industry finance service area financial services bi development project name swift consultant months project develop analytics infrastructure top sap would user view financial reports respective departments reporting also included forecasting expenses role leading offshore team key responsibilities design develop data models reporting develop etl data flow validate various reports technical environment sap hana tableau sap ao industry healthcare analytics service area life sciences product development project name clinical healthcare system consultant months project develop analytics infrastructure top argus would allow users query faster provide advance analytics capabilities role involved design deploy phase performed lot data restructuring built models insights key responsibilities design develop data models reporting develop deploy analytical models validate various reports technical environment data modelling sap hana tableau nlp industry fmcg service area trade promotion project name consumption based planning flowers foods consultant months project involved setting crm cbp modules role involved key data decomposition activities setting base future year forecast course project developed various models carried key performance improvements key responsibilities design develop hana models decomposition develop data flow forecast developed various views reporting customer sales funds validate various reports bobj technical environment data modelling sap hana bobj time series forecasting internal initiative industry fmcg customer segmentation rfm analysis consultant months initiative involved setting hana python interface advance analytics python course su essfully segmented data five core segments using k means carried rfm analysis python also developed algorithm categorize new customer defined buckets technical environment anaconda python hana sps industry telecom invoice state detection consultant months initiative reduce manual effort verifying closed open invoices manually involved development decision tree classify open closed invoices enabled effort reduction technical environment r sap pal sap hana sps enture experience industry analytics cross industry process analytics sap senior developer months enture solutions pvt ltd india project involved development sap analytics tool process analytics ipa role develop database objects data models provide operational insights clients role developed various finance related kpis spearheaded various deployments introduced sap predictive analytics reduce development time reuse functionalities kpis prepared production planning reports key responsibilities involved information gather phase designed implemented sap hana data modelling using attribute view analytic view calculation view developed various kpi individually using complex sql scripts calculation views created procedures hana database took ownership developed dashboard functionality involved building data processing algorithms executed r server cluster analysis technical environment r sap hana sql industry cross industry enture testing elerator sap database developer months enture solutions pvt ltd india role taken care development activities atas tool also completed various deployments product apart activities also actively involved maintenance database servers production quality key responsibilities analyzing business requirements understanding scope getting requirements clarified interacting business transform requirements generate attribute mapping documents reviewing mapping specification documentation create update database objects like tables views stored procedures function packages monitored sql server error logs application logs sql server agent prepared data flow diagrams entity relationship diagrams using uml responsible designing developing normalization database tables experience performance tuning using sql profiler involved qa uat knowledge transfer support activities technical environment sql server visual studio windows server performance monitor sql server profiler c pl sql sql
Job Description  : japnese language understanding video editing adobe photoshop illustrator japanese language
Similarity Rate  : 8.52%

Resume           : education details mca ymcaust faridabad haryana data science internship skill details data structure exprience less year months c exprience less year months data analysis exprience less year months python exprience less year months core java exprience less year months database management exprience less year monthscompany details company itechpower description
Job Description  : japnese language understanding video editing adobe photoshop illustrator japanese language
Similarity Rate  : 8.47%

{0: 10.68, 1: 3.94, 2: 6.13, 3: 8.52, 4: 8.47}

In [22]:
sorted_ranking_resume = dict(sorted(ranking_dict.items(), key=lambda item: item[1], reverse=True))
sorted_ranking_resume

{0: 10.68, 3: 8.52, 4: 8.47, 2: 6.13, 1: 3.94}

In [23]:
for key in sorted_ranking_resume:
    print('Index:', key, '-' , str(sorted_ranking_resume[key]) + '%')

Index: 0 - 10.68%
Index: 3 - 8.52%
Index: 4 - 8.47%
Index: 2 - 6.13%
Index: 1 - 3.94%

### 4 Test Case - Compare Resume and Job Description only job related to "IT"

In [24]:
df_jd_it_job_only = df_jd_it_job_only[['Position', 'Job_Description']]
df_jd_it_job_only = df_jd_it_job_only.rename(columns={'Position': 'position', 'Job_Description': 'job_description'})
df_jd_it_job_only.head(3)

,position,job_description
95,Accelerated Skills & Knowledge,Introduction. Amret has developed a dedicated ...
675,Accounting & System Coordinator,Daily support on system issue error from users...
991,Acquiring & Ecommerce Officer,Key responsibilities. Onsite offsite training ...

In [25]:
# clean step 1
df_jd_it_job_only['final_cleaned_jd'] = df_jd_it_job_only.job_description.apply(lambda x: cleanResume(x))

# clean step 2
# df_jd_it_job_only = df_jd_it_job_only.assign(final_cleaned_jd = df_jd_it_job_only.step1_cleaned_jd.apply(clean_sentence))
# df_jd_it_job_only.head(3)

In [26]:
first_5_resume = df_resume.head(5)
first_5_resume

,category,resume,final_cleaned_resume
0,Data Science,Skills * Programming Languages: Python (pandas...,skills programming languages python pandas num...
1,Data Science,Education Details \r\nMay 2013 to May 2017 B.E...,education details may may b e uit rgpv data sc...
2,Data Science,"Areas of Interest Deep Learning, Control Syste...",areas interest deep learning control system de...
3,Data Science,Skills â¢ R â¢ Python â¢ SAP HANA â¢ Table...,skills r python sap hana tableau sap hana sql ...
4,Data Science,"Education Details \r\n MCA YMCAUST, Faridab...",education details mca ymcaust faridabad haryan...

In [27]:
first_jd = df_jd_it_job_only.head(1)

jd = ''
for index, row in first_jd.iterrows():
    jd = row['final_cleaned_jd']

jd

'introduction amret developed dedicated program students studying year fresh graduate field information technology get good opportunity skills practice learning classroom well get coaching directly professionals many year experience join elerated skills knowledge ask program practical skill program gain professional working experience directly coached professionals attractive allowance monthly allowance per month plus national social security fund nssf job opportunity amret qualified competent interns prioritized available job amret'

In [28]:
ranking_dict = {}

for index, row in first_5_resume.iterrows():
    print("Resume           :", row['final_cleaned_resume'])
    print("Job Description  :", jd)
    resume = row['final_cleaned_resume']
    
    embedding_1 = model.encode([resume])
    embedding_2 = model.encode([jd])

    similarity_rate = cosine_similarity(embedding_1, embedding_2)
    print("Similarity Rate  :", format(similarity_rate[0][0]*100, '.2f')+'%')
    print()
    ranking_dict[index] = float(format(similarity_rate[0][0]*100, '.2f'))

print(ranking_dict)

Resume           : skills programming languages python pandas numpy scipy scikit learn matplotlib sql java javascript jquery machine learning regression svm na bayes knn random forest decision trees boosting techniques cluster analysis word embedding sentiment analysis natural language processing dimensionality reduction topic modelling lda nmf pca neural nets database visualizations mysql sqlserver cassandra hbase elasticsearch js dc js plotly kibana matplotlib ggplot tableau others regular expression html css angular logstash kafka python flask git docker computer vision open cv understanding deep learning education details data science assurance associate data science assurance associate ernst young llp skill details javascript exprience months jquery exprience months python exprience monthscompany details company ernst young llp description fraud investigations dispute services assurance technology assisted review tar technology assisted review assists elerating review process run analytics generate reports core member team helped developing automated review platform tool scratch assisting e discovery domain tool implements predictive coding topic modelling automating reviews resulting reduced labor costs time spent lawyers review understand end end flow solution research development classification models predictive analysis mining information present text data worked analyzing outputs precision monitoring entire tool tar assists predictive coding topic modelling evidence following ey standards developed classifier models order identify red flags fraud related issues tools technologies python scikit learn tfidf word vec doc vec cosine similarity na bayes lda nmf topic modelling vader text blob sentiment analysis matplot lib tableau dashboard reporting multiple data science analytic projects usa clients text analytics motor vehicle customer review data received customer feedback survey data past one year performed sentiment positive negative neutral time series analysis customer comments across categories created heat map terms survey category based frequency words extracted positive negative words across survey categories plotted word cloud created customized tableau dashboards effective reporting visualizations chatbot developed user friendly chatbot one products handle simple questions hours operation reservation options chat bot serves entire product related questions giving overview tool via qa platform also give recommendation responses user question build chain relevant answer intelligence build pipeline questions per user requirement asks relevant recommended questions tools technologies python natural language processing nltk spacy topic modelling sentiment analysis word embedding scikit learn javascript jquery sqlserver information governance organizations make informed decisions information store integrated information governance portfolio synthesizes intelligence across unstructured data sources facilitates action ensure organizations best positioned counter information risk scan data multiple sources formats parse different file formats extract meta data information push results indexing elastic search created customized interactive dashboards using kibana preforming rot analysis data give information data helps identify content either redundant outdated trivial preforming full text search analysis elastic search predefined methods tag pii personally identifiable information social security numbers addresses names etc frequently targeted cyber attacks tools technologies python flask elastic search kibana fraud analytic platform fraud analytics investigative platform review red flag cases fap fraud analytics investigative platform inbuilt case manager suite analytics various erp systems used clients interrogate ounting systems identifying anomalies indicators fraud running advanced analytics tools technologies html javascript sqlserver jquery css bootstrap node js js dc js
Job Description  : introduction amret developed dedicated program students studying year fresh graduate field information technology get good opportunity skills practice learning classroom well get coaching directly professionals many year experience join elerated skills knowledge ask program practical skill program gain professional working experience directly coached professionals attractive allowance monthly allowance per month plus national social security fund nssf job opportunity amret qualified competent interns prioritized available job amret
Similarity Rate  : 37.62%

Resume           : education details may may b e uit rgpv data scientist data scientist matelabs skill details python exprience less year months statsmodels exprience months aws exprience less year months machine learning exprience less year months sklearn exprience less year months scipy exprience less year months keras exprience less year monthscompany details company matelabs description ml platform business professionals dummies enthusiasts koramangala th block achievements tasks behind sukh sagar bengaluru india developed deployed auto preprocessing steps machine learning mainly missing value treatment outlier detection encoding scaling feature selection dimensionality reduction deployed automated classification regression model linkedin com aditya rathore b b reasearch deployed time series forecasting model arima sarimax holt winter prophet worked meta feature extracting problem github com rathorology implemented state art research paper outlier detection mixed attributes company matelabs description
Job Description  : introduction amret developed dedicated program students studying year fresh graduate field information technology get good opportunity skills practice learning classroom well get coaching directly professionals many year experience join elerated skills knowledge ask program practical skill program gain professional working experience directly coached professionals attractive allowance monthly allowance per month plus national social security fund nssf job opportunity amret qualified competent interns prioritized available job amret
Similarity Rate  : 40.23%

Resume           : areas interest deep learning control system design programming python electric machinery web development analytics technical activities q hindustan aeronautics limited bangalore weeks guidance mr satish senior engineer hangar mirage fighter aircraft technical skills programming matlab python java labview python webframework django flask ltspice intermediate languages mipower intermediate github gitbash jupyter notebook xampp mysql basics python software packages interpreters anaconda python python pycharm java ide eclipse operating systems windows ubuntu debian kali linux education details january b tech electrical electronics engineering manipal institute technology january deeksha center january little flower public school august manipal academy higher data science data science electrical enthusiast skill details data analysis exprience less year months excel exprience less year months machine learning exprience less year months mathematics exprience less year months python exprience less year months matlab exprience less year months electrical engineering exprience less year months sql exprience less year monthscompany details company themathcompany description currently working casino based operator name disclosed macau need segment customers visit property based value patrons bring company basically prove segmentation done much better way current system proper numbers back henceforth implement target marketing strategy attract customers add value business
Job Description  : introduction amret developed dedicated program students studying year fresh graduate field information technology get good opportunity skills practice learning classroom well get coaching directly professionals many year experience join elerated skills knowledge ask program practical skill program gain professional working experience directly coached professionals attractive allowance monthly allowance per month plus national social security fund nssf job opportunity amret qualified competent interns prioritized available job amret
Similarity Rate  : 46.38%

Resume           : skills r python sap hana tableau sap hana sql sap hana pal ms sql sap lumira c linear programming data modelling advance analytics scm analytics retail analytics social media analytics nlp education details january january pgdm business analytics great lakes institute management illinois institute technology january bachelor engineering electronics communication bengaluru karnataka new horizon college engineering bangalore visvesvaraya technological university data science consultant consultant deloitte usi skill details linear programming exprience months retail exprience months retail marketing exprience months scm exprience months sql exprience less year months deep learning exprience less year months machine learning exprience less year months python exprience less year months r exprience less year monthscompany details company deloitte usi description project involved analysing historic deals coming insights optimize future deals role given raw data carried end end analysis presented insights client key responsibilities extract data client systems across geographies understand build reports tableau infer meaningful insights optimize prices find process blockades technical environment r tableau industry cross industry service area cross industry products project name handwriting recognition consultant months project involved taking handwritten images converting digital text images object detection sentence creation role developing sentence correction functionality key responsibilities gather data large enough capture english words train lstm models words technical environment python industry finance service area financial services bi development project name swift consultant months project develop analytics infrastructure top sap would user view financial reports respective departments reporting also included forecasting expenses role leading offshore team key responsibilities design develop data models reporting develop etl data flow validate various reports technical environment sap hana tableau sap ao industry healthcare analytics service area life sciences product development project name clinical healthcare system consultant months project develop analytics infrastructure top argus would allow users query faster provide advance analytics capabilities role involved design deploy phase performed lot data restructuring built models insights key responsibilities design develop data models reporting develop deploy analytical models validate various reports technical environment data modelling sap hana tableau nlp industry fmcg service area trade promotion project name consumption based planning flowers foods consultant months project involved setting crm cbp modules role involved key data decomposition activities setting base future year forecast course project developed various models carried key performance improvements key responsibilities design develop hana models decomposition develop data flow forecast developed various views reporting customer sales funds validate various reports bobj technical environment data modelling sap hana bobj time series forecasting internal initiative industry fmcg customer segmentation rfm analysis consultant months initiative involved setting hana python interface advance analytics python course su essfully segmented data five core segments using k means carried rfm analysis python also developed algorithm categorize new customer defined buckets technical environment anaconda python hana sps industry telecom invoice state detection consultant months initiative reduce manual effort verifying closed open invoices manually involved development decision tree classify open closed invoices enabled effort reduction technical environment r sap pal sap hana sps enture experience industry analytics cross industry process analytics sap senior developer months enture solutions pvt ltd india project involved development sap analytics tool process analytics ipa role develop database objects data models provide operational insights clients role developed various finance related kpis spearheaded various deployments introduced sap predictive analytics reduce development time reuse functionalities kpis prepared production planning reports key responsibilities involved information gather phase designed implemented sap hana data modelling using attribute view analytic view calculation view developed various kpi individually using complex sql scripts calculation views created procedures hana database took ownership developed dashboard functionality involved building data processing algorithms executed r server cluster analysis technical environment r sap hana sql industry cross industry enture testing elerator sap database developer months enture solutions pvt ltd india role taken care development activities atas tool also completed various deployments product apart activities also actively involved maintenance database servers production quality key responsibilities analyzing business requirements understanding scope getting requirements clarified interacting business transform requirements generate attribute mapping documents reviewing mapping specification documentation create update database objects like tables views stored procedures function packages monitored sql server error logs application logs sql server agent prepared data flow diagrams entity relationship diagrams using uml responsible designing developing normalization database tables experience performance tuning using sql profiler involved qa uat knowledge transfer support activities technical environment sql server visual studio windows server performance monitor sql server profiler c pl sql sql
Job Description  : introduction amret developed dedicated program students studying year fresh graduate field information technology get good opportunity skills practice learning classroom well get coaching directly professionals many year experience join elerated skills knowledge ask program practical skill program gain professional working experience directly coached professionals attractive allowance monthly allowance per month plus national social security fund nssf job opportunity amret qualified competent interns prioritized available job amret
Similarity Rate  : 38.09%

Resume           : education details mca ymcaust faridabad haryana data science internship skill details data structure exprience less year months c exprience less year months data analysis exprience less year months python exprience less year months core java exprience less year months database management exprience less year monthscompany details company itechpower description
Job Description  : introduction amret developed dedicated program students studying year fresh graduate field information technology get good opportunity skills practice learning classroom well get coaching directly professionals many year experience join elerated skills knowledge ask program practical skill program gain professional working experience directly coached professionals attractive allowance monthly allowance per month plus national social security fund nssf job opportunity amret qualified competent interns prioritized available job amret
Similarity Rate  : 49.66%

{0: 37.62, 1: 40.23, 2: 46.38, 3: 38.09, 4: 49.66}

In [29]:
sorted_ranking_resume = dict(sorted(ranking_dict.items(), key=lambda item: item[1], reverse=True))
sorted_ranking_resume

{4: 49.66, 2: 46.38, 1: 40.23, 3: 38.09, 0: 37.62}

In [30]:
for key in sorted_ranking_resume:
    print('Index:', key, '-' , str(sorted_ranking_resume[key]) + '%')

Index: 4 - 49.66%
Index: 2 - 46.38%
Index: 1 - 40.23%
Index: 3 - 38.09%
Index: 0 - 37.62%

# Prepare Input from Web and give response - JSON format

### Dump Json Input

In [31]:
data = {
    "job_description" : "This is job description from test CADT.",
    "resume" : [
        {
            "name" : "Ronaldo",
            "resume" : "This is resume 1. Python"
        },
        {
            "name" : "Messi",
            "resume" : "This is resume 2. Java"
        },
        {
            "name" : "Neymar",
            "resume" : "This is resume 3. C++"
        },
        {
            "name" : "Sophal",
            "resume" : "This is resume 3. Laravel, Python"
        }
    ]
}

data

{'job_description': 'This is job description from test CADT.',
 'resume': [{'name': 'Ronaldo', 'resume': 'This is resume 1. Python'},
  {'name': 'Messi', 'resume': 'This is resume 2. Java'},
  {'name': 'Neymar', 'resume': 'This is resume 3. C++'},
  {'name': 'Sophal', 'resume': 'This is resume 3. Laravel, Python'}]}

In [32]:
jd = data['job_description']

In [33]:
data['resume']

[{'name': 'Ronaldo', 'resume': 'This is resume 1. Python'},
 {'name': 'Messi', 'resume': 'This is resume 2. Java'},
 {'name': 'Neymar', 'resume': 'This is resume 3. C++'},
 {'name': 'Sophal', 'resume': 'This is resume 3. Laravel, Python'}]

In [34]:
df_input_resume = pd.DataFrame(data['resume'])
df_input_resume

      name                             resume
0  Ronaldo           This is resume 1. Python
1    Messi             This is resume 2. Java
2   Neymar              This is resume 3. C++
3   Sophal  This is resume 3. Laravel, Python

#### Clean Input Resume Dataset and JD - And Apply Similarity Calculation and Ranking in separated functions

In [35]:
jd = cleanResume(jd)
jd

'job description test cadt'

In [36]:
# clean step 1
df_input_resume['final_cleaned_resume'] = df_input_resume.resume.apply(lambda x: cleanResume(x))
df_input_resume.head(5)

      name                             resume   final_cleaned_resume
0  Ronaldo           This is resume 1. Python          resume python
1    Messi             This is resume 2. Java            resume java
2   Neymar              This is resume 3. C++               resume c
3   Sophal  This is resume 3. Laravel, Python  resume laravel python

In [37]:
def calculate_similarity(resume, jd):
    embedding_1 = model.encode([resume])
    embedding_2 = model.encode([jd])

    similarity_rate = cosine_similarity(embedding_1, embedding_2)
    similarity_rate_percentage = format(similarity_rate[0][0]*100, '.2f')
    # print("Similarity Rate  :", format(similarity_rate[0][0]*100, '.2f')+'%')
    
    return [float(similarity_rate), float(similarity_rate_percentage)]


response = []

for index, row in df_input_resume.iterrows():
    resume = row['final_cleaned_resume']

    print(row['name'], " = ", calculate_similarity(resume, jd)[1], "%")

    tmp = []
    tmp.append(['name', row['name']])
    tmp.append(['rate', calculate_similarity(resume, jd)[0]])
    tmp.append(['percentage', calculate_similarity(resume, jd)[1]])
    response.append(tmp)

response

Ronaldo  =  20.89 %

Messi  =  19.75 %
Neymar  =  32.02 %
Sophal  =  15.37 %

[[['name', 'Ronaldo'], ['rate', 0.20889776945114136], ['percentage', 20.89]],
 [['name', 'Messi'], ['rate', 0.19745372235774994], ['percentage', 19.75]],
 [['name', 'Neymar'], ['rate', 0.32023486495018005], ['percentage', 32.02]],
 [['name', 'Sophal'], ['rate', 0.153700053691864], ['percentage', 15.37]]]

In [38]:
sorted_response = sorted(response, key=lambda x: x[2], reverse=True)
response = sorted_response

response

[[['name', 'Neymar'], ['rate', 0.32023486495018005], ['percentage', 32.02]],
 [['name', 'Ronaldo'], ['rate', 0.20889776945114136], ['percentage', 20.89]],
 [['name', 'Messi'], ['rate', 0.19745372235774994], ['percentage', 19.75]],
 [['name', 'Sophal'], ['rate', 0.153700053691864], ['percentage', 15.37]]]

### Resume Ranking System

In [39]:
def resume_ranking_system(df_input_resume, jd):
    response = []
    for index, row in df_input_resume.iterrows():

        resume = row['final_cleaned_resume']

        embedding_1 = model.encode([resume])
        embedding_2 = model.encode([jd])

        similarity_rate = cosine_similarity(embedding_1, embedding_2)
        similarity_rate_percentage = format(similarity_rate[0][0]*100, '.2f')

        tmp = []
        tmp.append(['name', row['name']])
        tmp.append(['rate', float(similarity_rate)])
        tmp.append(['percentage', float(similarity_rate_percentage)])
        response.append(tmp)
    
    sorted_response = sorted(response, key=lambda x: x[2], reverse=True)
    response = sorted_response

    return response

In [40]:
resume_ranking_system(df_input_resume, jd)

[[['name', 'Neymar'], ['rate', 0.32023486495018005], ['percentage', 32.02]],
 [['name', 'Ronaldo'], ['rate', 0.20889776945114136], ['percentage', 20.89]],
 [['name', 'Messi'], ['rate', 0.19745372235774994], ['percentage', 19.75]],
 [['name', 'Sophal'], ['rate', 0.153700053691864], ['percentage', 15.37]]]